:root {
    --rad: 10px;
    --gap: clamp(1.5cqw, 3cqi, 2cqw);
    --pad: clamp(1rem, 3cqi, 2cqw);
}

@container Scroll (max-width: 768px) {
    .feature-scroll {
        padding-left: 13cqw;
    }

    .feature-container {
        flex-direction: column-reverse !important;
    }
}

body {
    font-family: monospace;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.feature-scroll {
    width: 100%;
    container-type: inline-size;
    container-name: Scroll;
}

.feature-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: var(--gap);
    padding: 1rem;
}

.feature-cards {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.card-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.card {
    width: clamp(200px, 40cqi, 30cqw);
    height: clamp(300px, 40cqi, 30cqh);
    display: grid;
    grid-template-columns: auto;
    padding: var(--pad);
    gap: var(--gap);
    justify-content: space-around;
    align-items: center;
    border-radius: var(--rad);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);

    /* Scroll animation setup */
    view-timeline-name: --card-scroll;
    view-timeline-axis: block;
    animation-name: fadeInScroll;
    animation-timeline: --card-scroll;
    animation-range: entry 10% cover 90%;
    animation-fill-mode: both;
    animation-duration: 1s;

    scroll-snap-align: center;
}

.side-visual {
    position: sticky;
    top: 5vh;
}

.side-visual img {
    width: clamp(240px, 50cqi, 30vw);
    height: clamp(350px, 60cqi, 70vh);
    aspect-ratio: 3 / 4;
    border-radius: var(--rad);
}

/* Keyframes for card animation */
@keyframes fadeInScroll {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}